diffusers @ git+https://github.com/huggingface/diffusers.git@v0.21.2
transformers @ git+https://github.com/huggingface/transformers.git@v4.33.2
torch==2.0.1
compel==2.0.2
numpy
accelerate @ git+https://github.com/huggingface/accelerate.git@v0.23.0
torchsde
torchvision
safetensors
Pillow
waitress
timm
Flask
xformers